<!-- 3.1.1账户支付界面 -->
<!-- orderAction.do -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>德付通支付平台</title>
<script type="text/javascript" src="https://test.dovepay.com/dovePay/js/jquery-one.seven.min.js"></script>
<script type="text/javascript" src="https://test.dovepay.com/dovePay/js/jquery.DatePicker.min.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/PassGuardCtrl.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/crypto-js.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/thickbox.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/password.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/dfp_CH01.js"></script>
<script type="text/javascript" src="https://test.dovepay.com/dovePay/js/CheckstandBanks.js"></script>
<script type="text/javascript" src="http://localhost:3001/dt/dist/accaActPay.js"></script>
</head>
<body>
  <header class="uk-box-shadow-medium"><%- include('protected/header.html') %></header>
  <main>
    <div class="payw uk-container uk-container-large uk-padding-small">
      <div class="uk-flex uk-flex-center">
        <div class="leftpay uk-width-3-4 uk-margin-right">
          <h1 class="uk-heading-bullet uk-heading-line uk-h4"><span>订单信息</span></h1>
          <table class="uk-table uk-table-striped uk-table-small">
            <tr>
              <td>商品名称</td>
              <td>商品描述</td>
              <td>订单号</td>
              <td>金额(元)</td>
              <td>下单时间</td>
              <td>备注信息</td>
            </tr>
            <tr>
              <td>YiZhanShi</td>
              <td>Ticket</td>
              <td>ZF20230203153938140</td>
              <td>
                50.00 
              </td>
              <td>
                2023年02月03日 
              </td>
              <td id="zhangjie">
                 ext1 
              </td>
            </tr>
          </table>
          <%- include('checkstand/AccaPayTittle.html') %>
          <!-- 账户、网银、支付宝、微信,国际信用卡，银联卡支付  -->
          <ul class="uk-switcher">
            <li><%- include('checkstand/AccaPayAccountType.html') %></li><!--id="zhPay"  账户 -->
            <li><%- include('checkstand/AccaPayBankType.html') %></li><!--id="wzhPay"  无账户 -->
            <li><%- include('checkstand/AccaPayWechatPayCode.html') %></li><!--id="wechatPay"   微信-->
            <li><%- include('checkstand/AccaPayUNIONAliPayCode.html') %></li><!-- id="AliPay" 支付宝-->
            <li><%- include('checkstand/AccaPayMasterPay.html') %></li><!-- id="masterPay"  国际信用卡-->
            <li><%- include('checkstand/virtualCardPay.html') %></li><!-- id="vcPay"  银联卡支付-->
          </ul>
        </div>
        <%- include('rightpay.html') %>
      </div>
    </div>
  </main>
  <footer class="uk-background-muted"><%- include('protected/footer.html') %></footer>
</body>
</html>