<div style="border: 1px solid black; padding: 15px; margin: 15px;">
  <h2 style="text-align: center;">重要提示</h2>
  <p>尊敬的客户，您在对应业务渠道相应页面按提示说明文字完成相应操作后，页面显示成功信息前，请您仔细阅读本协议的全部内容（尤其是带有▲▲标记的条款）。如您对本协议有任何疑问、意见建议或需进行投诉，请及时至交通银行营业网点或拨打交通银行客户服务热线95559咨询。如您不同意本协议的任何内容，或者无法准确理解相关条款的含义，请不要进行后续操作。您在对应业务渠道相应页面阅读并同意本协议、按提示说明文字完成相应操作后，页面显示成功信息，即表示您对本协议所有内容无疑问和异议，完全理解并同意接受本协议的全部约定内容（尤其是带有▲▲标记的条款），确认承担由此产生的一切责任。</p>
</div>
<p>鉴于交通银行太平洋借记卡持卡人（以下简称“甲方”）拟向该借记卡开户网点所属交通银行股份有限公司分行（以下简称“乙方”）申请开通交通银行借记卡德付通快捷支付服务，为明确甲乙双方权利义务，特订立本协议。</p>
<h2>一、服务内容和流程</h2>
<p>（一）“快捷支付服务”是指，甲方向乙方申请将甲方指定太平洋借记卡与甲方在德付通（实际主体为北京亚科技术开发有限责任公司，以下简称“支付机构”）开立的支付账户绑定，绑定后，甲方通过支付账户进行支付（包括但不限于通过支付账户向甲方购买商品/服务的卖方付款、向支付账户充值等，下同）且选择使用指定太平洋借记卡内资金的，支付机构将向乙方发送指令。乙方按本协议约定，根据支付机构指令扣划甲方指定太平洋借记卡内资金用于支付。</p>
<p>（二）甲方可在支付机构渠道，或通过交通银行手机银行、微银行等渠道（以下简称“电子渠道”）跳转至支付机构渠道后申请开通快捷支付服务。甲方需在支付机构渠道相关页面填写或选定姓名、借记卡卡号、手机号码、身份证件号码信息，支付机构验证甲方身份后，将甲方填写或选定的上述信息发送给乙方。乙方收到支付机构发送的上述信息后，将上述信息与甲方在乙方预留的客户信息进行比对验证，并通过短信验证码等方式验证甲方身份。前述验证均通过后，乙方将甲方指定太平洋借记卡与支付机构支付账户绑定，快捷支付服务开通成功。</p>
<p>（三）快捷支付服务开通成功，即视为甲方同意并授权乙方按照支付机构指令从甲方指定太平洋借记卡内主动划扣资金进行支付。后续甲方在支付机构提供的渠道上使用快捷支付服务的，乙方按支付机构指令从甲方指定太平洋借记卡内划扣资金进行支付时，甲方只需根据支付机构要求完成相关验证，乙方不再进行验证。甲方使用快捷支付服务时的支付账户密码设置、修改以及具体支付交易过程中的验证方式等具体规则，以甲方与支付机构签署的快捷支付相关协议约定为准。</p>
<h2>二、甲方的权利和义务</h2>
<p>（一）甲方应确保用于开通快捷支付服务的太平洋借记卡为本人所有，保证在服务开通过程中提供的信息真实、准确、有效，确保支付行为合法并未侵犯任何第三方合法权益，否则因此造成乙方或其他第三方损失的，由甲方负责赔偿并承担法律责任，因乙方过错依法应由乙方承担的责任除外。</p>
<p>▲▲（二）甲方应妥善保管本人交通银行太平洋借记卡卡号及密码、与之相关的证件类型和证件号码、手机号码、通讯地址、动态密码、支付机构支付账户登录名以及甲方与支付机构约定的其他各类密码、动态验证码、数字证书、指纹及人脸要素等信息，不得将该等信息向他人透露。因甲方原因导致该等信息泄露而产生的风险及损失由甲方本人承担，因乙方过错依法应由乙方承担的责任除外。</p>
<p>▲▲（三）甲方不得利用快捷支付服务进行套现、虚假交易、洗钱、恐怖融资、逃税等行为，且有义务配合乙方进行相关调查。甲方不涉及联合国及相关国家、组织、机构发布的制裁名单，及中国政府部门或有权机关发布的涉恐及反洗钱相关风险名单内的企业或个人；不位于被联合国及相关国家、组织、机构制裁的国家和地区。</p>
<p>如若甲方拒绝配合进行相关调查或乙方认为甲方存在或涉嫌套现、虚假交易、洗钱、恐怖融资、逃税或任何其他非法活动、欺诈或违反诚信原则的行为、涉及上述制裁及反洗钱相关风险名单、位于上述被制裁的国家和地区、或违反本协议约定的，乙方有权采取以下一种、多种或全部措施：</p>
<ul>
<li>（1）暂停或终止提供本协议项下快捷支付服务；</li>
<li>（2）终止本协议；</li>
<li>（3）取消甲方的用卡资格。</li>
</ul>
<p>若因甲方的前述行为而给乙方造成损失的，甲方还应承担相应的赔偿责任。</p>
<h2>▲▲三、乙方的权利和义务</h2>
<p>（一）乙方仅根据本协议约定，按照支付机构指令扣划资金进行支付。甲方使用快捷支付服务的，因购买商品或服务而产生的关于商品或服务质量、商品交付、交易款项及费用扣收与划付的一切争议均由甲方与商品/服务的实际销售商以及支付机构自行协商解决，乙方不承担责任，因乙方过错依法应由乙方承担的责任除外。</p>
<p>（二）乙方有权根据交易安全需要和客户体验设置（包括修改，下同）甲方指定太平洋借记卡在相应支付机构的快捷支付交易限额，甲方无法对此进行修改，具体交易限额以支付机构渠道相关页面展示为准。甲方快捷支付金额不应超过乙方设置的快捷支付交易限额和支付机构设置的支付限额（以较低者为准），如实际支付金额大于前述限额的，乙方将拒绝执行。甲方在本协议下指定的太平洋借记卡为Ⅱ类、Ⅲ类账户的，支付限额除受乙方设置的快捷支付交易限额和支付机构设置的支付限额限制外，还受相应Ⅱ类、Ⅲ类账户自身限额限制。</p>
<p>（三）快捷支付服务开通后，对于乙方正确执行支付机构指令产生的资金扣划，如甲方对相应资金支付存有异议，甲方应与支付机构自行解决，乙方对此不承担责任，因乙方过错依法应由乙方承担的责任除外。</p>
<p>（四）甲方通过乙方电子渠道跳转至支付机构渠道后申请开通快捷支付服务的，为了开通快捷支付服务所必需，甲方同意乙方将甲方姓名、借记卡卡号、手机号码、身份证件号码信息发送至支付机构（支付机构联系方式请见支付机构官方网站）。</p>
<h2>▲▲四、法律适用与争议解决</h2>
<p>本协议适用中华人民共和国法律（为本协议目的不包括香港、澳门和台湾地区的法律）。本协议项下争议应向乙方所在地有管辖权的人民法院起诉，双方另有约定的除外。争议期间，各方仍应继续履行未涉争议的条款。</p>
<h2>▲▲五、信息披露与保密</h2>
<p>5.1对于在本协议签订和履行过程中获取和知悉的甲方的未公开信息和资料，乙方对相关信息和资料的处理（包括但不限于收集、存储、使用、加工、传输、提供、公开等）不得违反法律法规和监管要求，并应依法承担保密责任，不向第三方披露该等信息和资料，但下列情形除外：</p>
<ul>
<li>（1）适用法律法规要求披露的；</li>
<li>（2）司法部门或监管机构依法要求披露的；</li>
<li>（3）乙方为行使本协议项下权利、履行本协议项下义务需向乙方的外部专业顾问披露和允许乙方的外部专业顾问在保密的基础上使用的；</li>
<li>（4）为维护公共利益或者甲方合法权益,合理实施其他行为的；</li>
<li>（4）甲方另行同意或授权乙方进行披露的。</li>
</ul>
<h2>▲▲第六条  通知</h2>
<p>6.1甲方保证其向乙方提供的联系方式（包括通讯地址、联系电话、传真号码、电子邮件等）均真实有效。任一联系方式发生变更，甲方应立即以书面方式将变更信息寄/送至乙方。该等信息变更在乙方收到更改通知后生效。</p>
<p>6.2除本协议另有明确约定外，乙方对甲方的任何通知，乙方有权通过以下任一方式进行。乙方有权选择其认为合适的通知方式，且无需对邮递、传真、电话、电传、微信或任何其他通讯系统所出现的传送失误、缺漏或延迟承担责任。乙方同时选择多种通知方式的，以其中较快到达甲方者为准。就同一事项，乙方对甲方发出一份以上通知且通知内容不同的，除非在通知中另有明确说明，以通知发出时间在后的为准。</p>
<ul>
<li>（1）公告，以乙方在其网站、网上银行、电话银行或营业网点发布公告之日视为送达日；</li>
<li>（2）专人送达，以甲方签收之日视为送达日；</li>
<li>（3）邮递（包括特快专递、平信邮寄、挂号邮寄）送达于乙方最近所知的甲方通讯地址，以邮寄之日后的第3日（同城）/第5日（异地）视为送达日；</li>
<li>（4）传真、移动电话短信或其他电子通讯方式送达于乙方最近所知的甲方传真号码、甲方指定的移动电话号码或电子邮件地址，以发送之日视为送达日，前述送达指相关信息进入服务商的服务器终端而不以相关信息实际在客户终端显示为标准。</li>
</ul>
<p>6.3甲方同意，除非乙方收到甲方关于变更通讯地址的书面通知，甲方在本协议填写的通讯地址是法院向甲方送达司法文书及其他书面文件的地址。上述送达地址适用的范围包括但不限于民事诉讼一审、管辖权异议及复议、二审、再审、发回重审和执行程序等。如甲方应诉并直接向法院提交送达地址确认书，该确认地址与乙方最近所知的通讯地址不一致的，法院有权以送达地址确认书上的地址为准进行送达。</p>
<p>本协议争议解决过程中，法院可通过以下任一方式将判决书、裁定书、调解书送达于甲方：</p>
<ul>
<li>（1）邮递送达（包括特快专递、平信邮寄、挂号邮寄），以甲方在送达回证上的签收日为送达之日；</li>
<li>（2）专人送达，以甲方在送达回证上的签收之日视为送达之日。</li>
<ul>
<p>法院采用邮寄送达（包括特快专递、平信邮寄、挂号邮寄）方式的，如甲方未在送达回证上签收或甲方所填写的通讯地址不准确或通讯地址实际发生变更但乙方未收到甲方关于变更通讯地址的书面通知导致判决书、裁定书、调解书被退回的，以文书被退回之日视为送达之日。</p>
<p>法院采用专人送达方式的，如甲方未在送达回证上签收，以送达人当场在送达回证上记明情况之日为送达之日。</p>
<p>除判决书、裁定书、调解书外，法院对甲方的任何通知，法院有权通过第6.2条约定的任一通讯方式进行。法院有权选择其认为合适的通讯方式，且无需对邮递、传真、电话、电传、微信或任何其他通讯系统所出现的传送失误、缺漏或延迟承担责任。法院同时选择多种通讯方式的，以其中较快到达甲方者为准。</p>
<p>6.4本条约定属于协议中独立存在的解决争议条款，本协议无效、被撤销或者终止的，不影响本条款的效力。</p>
<h2>七、协议的生效、变更与终止</h2>
<p>（一）本协议自签署后生效，签署是指甲方在对应业务渠道相应页面按提示说明文字完成相应操作后，页面显示成功信息。</p>
<p>▲▲（二）甲方同意，在不违反适用的法律、法规、规章和监管规定的强制性规范的前提下，乙方有权变更、暂停本协议项下快捷支付服务以及修改协议，并于相应变更、暂停、修改执行前通过乙方电子渠道或营业网点公告，或通过电话、短信等方式通知甲方。甲方不同意相应变更、暂停或修改的，有权在公告执行前或在电话、短信载明的时间前解除快捷支付协议。甲方在公告执行后或在电话、短信载明的时间后继续办理快捷支付服务的，视同接受相应变更、暂停、修改。</p>
<p>甲方同时同意，乙方有权终止本协议项下快捷支付服务并有权终止本协议，在不违反适用的法律、法规、规章和监管规定的强制性规范的前提下，乙方有权提前通过乙方线上渠道或营业网点公告，本协议自公告中载明的终止时间终止。</p>
<p>（三）甲方可通过支付机构渠道或乙方电子渠道跳转至支付机构渠道后主动解除甲方指定太平洋借记卡与支付账户的绑定关系，具体解除渠道以支付机构和乙方电子渠道相关页面展示为准。支付机构解除甲方与支付机构签署的快捷支付相关协议的，甲方指定太平洋借记卡与支付账户的绑定关系亦相应解除。</p>
<p>乙方收到甲方或支付机构关于甲方指定太平洋借记卡与支付账户绑定关系解除的通知后，本协议自动解除。本协议解除后，乙方不再受理和执行支付机构指令。本协议解除前乙方收到的支付机构指令，乙方仍将按前述指令执行，甲方应承担由此产生的全部后果和责任，该等指令全部执行完毕后本协议终止。</p>
<p>（四）如因甲方指定太平洋借记卡注销、补（换）卡等任何原因导致卡号变更的，甲方指定太平洋借记卡与支付账户的绑定关系相应解除。乙方为甲方办妥相应注销、补（换）卡手续后，本协议自动解除。本协议解除后，乙方不再受理和执行支付机构指令。本协议解除前乙方收到的支付机构指令，乙方仍将按前述指令执行，甲方应承担由此产生的全部后果和责任，该等指令全部执行完毕后本协议终止。</p>
<p>甲方如需再次使用快捷支付服务的，须重新阅读并签署本协议、重新申请开通快捷支付服务。甲方指定太平洋借记卡进行补（换）卡等操作但卡号不变的，无需办理前述手续。</p>

