<div class="rightpay">
  <span><img
    src="https://test.dovepay.com/dovePay/images/helphot.gif" alt="在线客服"
    width="224" height="117" /></span>
  <div class="helptext uk-margin">
    <h2 class="uk-heading-bullet uk-heading-line uk-h4"><span>公告</span></h2>
        <!-- <a href="https://test.dovepay.com/dovePay/protected/notice/noticeAction.do?m=getAllNoticeList">公告</a> -->
    <ul class="uk-list uk-list-striped">
      <li><a
        href="https://test.dovepay.com/dovePay/protected/notice/noticeAction.do?m=getNoticeDetail&ID=NT20220802151246"
        target="_blank">789789 </a>
      </li>
      
      <li><a
        href="https://test.dovepay.com/dovePay/protected/notice/noticeAction.do?m=getNoticeDetail&ID=NT20220802151112"
        target="_blank">12312312 </a>
      </li>
      
      <li><a
        href="https://test.dovepay.com/dovePay/protected/notice/noticeAction.do?m=getNoticeDetail&ID=NT20220802150410"
        target="_blank">test2 </a>
      </li>
      
      <li><a
        href="https://test.dovepay.com/dovePay/protected/notice/noticeAction.do?m=getNoticeDetail&ID=NT20220802145145"
        target="_blank">test </a>
      </li>
      
      <li><a
        href="https://test.dovepay.com/dovePay/protected/notice/noticeAction.do?m=getNoticeDetail&ID=NT20181105143200"
        target="_blank">1212 </a>
      </li>
    </ul>
  </div>
</div>