<footer>
    <div class="uk-text-muted uk-container uk-flex uk-flex-middle uk-flex-center uk-padding-small">
      <a class="uk-logo uk-margin-right" href="#">
        <img alt="中国航信" src="https://test.dovepay.com/dovePay/images/dovePay2.0/logo_travelsky_84x44.png">
      </a>
      <div class="uk-margin-right">
        <div><small>Copyright @ 2011-<span id="thisYear"></span> 北京亚科技术开发有限责任公司 | 德付通版权所有</small></div>
        <div><small>京ICP证111044号 | 京ICP备15054350号-1 | 京公网安备11010502022624</small></div>
      </div>
      <div>
        <span><span uk-icon="receiver" class="uk-margin-small-right"></span>客服电话：56896666</span>
      </div>
    </div>
 </footer>