  

<section role="contentinfo" id="gblMarketingFooter">
  <div class="utility">
    <div class="footerNav"> 
      <nav>
        <ul>
          <li><a href="https://test.dovepay.com/dovePay/aboutUs.jsp" target="_parent">关于我们</a></li>
          <li><a href="https://test.dovepay.com/dovePay/newsCenter.jsp" target="_parent">资讯中心</a></li>
          <li><a href="https://test.dovepay.com/dovePay/partner.jsp" target="_parent">合作伙伴</a></li>
          <li><a href="https://test.dovepay.com/dovePay/safeCenter.jsp" target="_parent">安全中心</a></li>
          <li><a href="https://test.dovepay.com/dovePay/connectUs.jsp" target="_parent">联系我们</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!--footer menu END-->
  <!--footer content-->
  <div class="shadowLine"></div>
  <div class="footer">
    <!--copyright-->
    <div class="footerCopy padding2 clearfix">
      <div class="legal w600 bc">
            <img class="copyright" alt="中国航信"
                src="https://test.dovepay.com/dovePay/images/dovePay2.0/logo_travelsky_84x44.png">
            <div class="fl">
                <p class="copyright">Copyright @ 2011-<span id="thisYear"></span> 北京亚科技术开发有限责任公司 | 德付通版权所有</p>
                <p class="copyright">京ICP证111044号 | 京ICP备15054350号-1 | 京公网安备11010502022624</p>
            </div>
        </div>
      <div class="col-contact"> <!-- css:mpp3 head -->
        <p>客服电话：</p>
        <p class="phone" id="tele1">010-56896666</p>
      </div>
    </div>
  </div>
 </section>
 <script src="https://test.dovepay.com/dovePay/js/timerSet.js"></script>
 <script src="https://test.dovepay.com/dovePay/js/displayThisYear.js"></script>