 
<!DOCTYPE html>


<html>
<head>
<script>
/* HTML5 tag support */
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('footer');
</script>

<style type="text/css">
#ie6shengji{background-color:#ffffff; left:0; font-size:16px; color:#ff0000; width:97%; padding: 2px 15px 2px 23px; text-align:left;}
body{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
}
#_C4symbol, #_C4banner{
    z-index:1000;
}
</style>
<link rel="shortcut icon" href="https://test.dovepay.com/dovePay/images/favicon.ico" type="image/x-icon" />
<link rel="Bookmark" href="https://test.dovepay.com/dovePay/images/favicon.ico" type="image/x-icon" />
<link type="text/css" href="https://test.dovepay.com/dovePay/css/dovePay2.0/font-awesome.min.css" rel="stylesheet">
<!--[if IE 7]>
    <link rel="stylesheet" href="https://test.dovepay.com/dovePay/css/dovePay2.0/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="desktop">
    <div id="page">
        <!--[if lte IE 6]>
            <div id="ie6shengji">亲爱的用户朋友，您正在使用浏览器版本过低(IE6，或使用IE6内核的国产浏览器)，请升级新版IE浏览器，以获得最佳浏览效果。</div>
        <![endif]-->
            <section class="gblMHeader">
                <!-- topBar Begin -->
                <div role="banner" class="outer">
                   <div class="topBar">
                      <ul>
                          
                        <ul>
                            <li style="width:988px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    
                                </table>
                            </li>
                        </ul>
                        
                      </ul>
                   </div>
                </div>
                <!-- topBar End -->
                <!-- navigation Begin -->
                <div class="nav">
                   <div class="navOut">
                     <nav role="navigation">
                         <ul>
                             <li class="logo"><a href="https://test.dovepay.com/dovePay/index.jsp"><img alt="dovePay首页" src="https://test.dovepay.com/dovePay/images/dovePay2.0/logo_dovePay_298x71.png"></a></li>
                             <li class=" dropdown ">    
                               <a href="https://test.dovepay.com/dovePay/default.jsp" aria-expanded="false">行业解决方案</a>
                               <ul class="ul1">
                                  <li class="title">
                                      <ul class="ulw1">
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#normalPay" tabindex="-1" class="head"><span>&diams;&nbsp;行业通用支付应用</span></a></li>
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#normalPay" tabindex="-1">航空公司</a></li>
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#normalPay" tabindex="-1">票务平台</a></li>
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#normalPay" tabindex="-1">机票代理</a></li>
                                      </ul>
                                  </li>
                                  <li class="title">
                                      <ul class="ulw1">
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#proPay" tabindex="-1" class="head"><span>&diams;&nbsp;专属领域支付应用</span></a></li>
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#proPay" tabindex="-1">BSP在线支付平台</a></li>
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#proPay" tabindex="-1">机票数据服务</a></li>
                                      <li><a href="https://test.dovepay.com/dovePay/default.jsp#proPay" tabindex="-1">Agentsky支付服务</a></li>
                                      <li><a title="点击下载票速通插件" href="https://www.dovepay.com/dovePnrMgr/download/ElectronicTicketFerry.exe" tabindex="-1">票速通插件</a></li>
                                      </ul>
                                  </li>
                              </ul>
                            </li>
                            <li class=" dropdown ">
                              <a href="https://test.dovepay.com/dovePay/zfcp.jsp" aria-expanded="false">支付产品</a>
                              <ul class="ul2">
                                 <li class="title">
                                     <ul class="ulw2">
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#receivePay" tabindex="-1" class="head"><span>&diams;&nbsp;收款产品</span></a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#receivePay" tabindex="-1">网银支付</a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#receivePay" tabindex="-1">快捷/无卡支付</a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#receivePay" tabindex="-1">批量代扣</a></li>
                                     </ul>
                                 </li>                       
                                 <li class="title">
                                     <ul class="ulw2">
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#paymentPay" tabindex="-1" class="head"><span>&diams;&nbsp;付款产品</span></a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#paymentPay" tabindex="-1">批量付款</a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#paymentPay" tabindex="-1">实时分账</a></li>
                                     </ul>
                                 </li>
                                 <li class="title">
                                     <ul class="ulw2">
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#accountPay" tabindex="-1" class="head"><span>&diams;&nbsp;账户产品</span></a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#accountPay" tabindex="-1">现金账户</a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#accountPay" tabindex="-1">业务应用账户</a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#accountPay" tabindex="-1">集团账户</a></li>      
                                     </ul>  
                                 </li>                    
                                 <li class="title">
                                     <ul class="ulw2">
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#appreciatePay" tabindex="-1" class="head"><span>&diams;&nbsp;增值产品</span></a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#appreciatePay" tabindex="-1">行业缴费</a></li>
                                     <li><a href="https://test.dovepay.com/dovePay/zfcp.jsp#appreciatePay" tabindex="-1">自动对账</a></li>
                                     </ul>
                                 </li>
                              </ul>
                            </li>
                            <li class=" dropdown ">    
                              <a href="javascript:void(0);" aria-expanded="false">客户服务</a>
                              <ul class="ul3">
                                <li class="title">
                                    <ul class="ulw3">
                                    <li><a href="https://test.dovepay.com/dovePay/new_helpingCenter/helpingCenter.jsp" tabindex="-1">帮助中心</a></li>
                                    </ul>
                                </li>
                              </ul> 
                            </li>
                            <li class=" dropdown ">    
                              <a href="javascript:void(0);" aria-expanded="false">金融服务</a>
                              <ul class="ul3">
                                <li class="title">
                                    <ul class="ulw3">
                                    <li><a href="http://test.dovepay.com/htbxpt/" target="_blank" tabindex="-1">保险服务</a></li>
                                    </ul>
                                </li>
                              </ul> 
                            </li>
                       </ul>
                       
                       <div class="navUtilitiesSec">
                       
                        &nbsp;
                       
                       </div>
                  </nav>
                </div>
              </div>
            </section>
    </div>
</body>
</html>