<header>
  <div class="uk-container uk-container-expand uk-background-muted">
    <div class="uk-flex uk-flex-middle uk-flex-between">
      <a class="uk-logo uk-margin-right" href="https://www.dovepay.com">
        <img src="https://www.dovepay.com/doveutils/plugin/svg/dovepay.svg" alt="德付通支付平台">
      </a>
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li>    
             <a href="#">行业解决方案</a>
             <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav uk-nav-default">
                  <li class="uk-nav-header">行业通用支付应用</li>
                  <li><a href="default.jsp#normalPay">航空公司</a></li>
                  <li><a href="default.jsp#normalPay">票务平台</a></li>
                  <li><a href="default.jsp#normalPay">机票代理</a></li>
                  <li class="uk-nav-divider"></li>
                  <li class="uk-nav-header">专属领域支付应用</li>
                  <li><a href="default.jsp#proPay">BSP在线支付平台</a></li>
                  <li><a href="default.jsp#proPay">机票数据服务</a></li>
                  <li><a href="default.jsp#proPay">Agentsky支付服务</a></li>
                    <li><a title="点击下载票速通插件" href="https://www.dovepay.com/dovePnrMgr/download/ElectronicTicketFerry.exe">票速通插件</a></li>
                  </ul>
               </div>
            </li>
            <li>
              <a href="#">支付产品</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav uk-nav-default">
                  <li class="uk-nav-header">收款产品</li>
                  <li><a href="zfcp.jsp#receivePay">网银支付</a></li>
                  <li><a href="zfcp.jsp#receivePay">快捷/无卡支付</a></li>
                  <li><a href="zfcp.jsp#receivePay">批量代扣</a></li>
                  <li class="uk-nav-divider"></li>
                  <li class="uk-nav-header">付款产品</li>
                  <li><a href="zfcp.jsp#paymentPay">批量付款</a></li>
                  <li><a href="zfcp.jsp#paymentPay">实时分账</a></li>
                  <li class="uk-nav-divider"></li>
                  <li class="uk-nav-header">账户产品</li>
                  <li><a href="zfcp.jsp#accountPay">现金账户</a></li>
                  <li><a href="zfcp.jsp#accountPay">业务应用账户</a></li>
                  <li><a href="zfcp.jsp#accountPay">集团账户</a></li>
                  <li class="uk-nav-divider"></li>
                  <li class="uk-nav-header">增值产品</li>
                  <li><a href="zfcp.jsp#appreciatePay">行业缴费</a></li>
                  <li><a href="zfcp.jsp#appreciatePay">自动对账</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">客户服务</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav uk-nav-default">
                  <li><a href="new_helpingCenter/helpingCenter.jsp">帮助中心</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">金融服务</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav uk-nav-default">
                  <li><a href="http://test.dovepay.com/htbxpt/" target="_blank">保险服务</a></li>
                </ul>
              </div>
            </li>
           </ul>
        </div>
      </nav>
      <div class="uk-text-small">
      </div>
    </div>
  </div>
</header>