  <div id="aliPay" align="center">
    <form class="payForm" action="https://test.dovepay.com/dovePay/aLIUnionPayQrCodeAction.do" method="post" onsubmit="" >
      <input type="hidden" name="orderId" value="2023020300457362" />
      <input type="hidden"  name="m" value="getAggregateQRCode" /> 
      <br/>
      <input type="radio" name="bankId" value="UNIONALIPAYWEB" />
      <img src="https://test.dovepay.com/dovePay/images/alipay.png"  height="100" width="200" style="border: 1px solid #66CCCC;"/>
      <br/>
      <br/>
      <br/>
      <br/>
      <input type="submit" value="提交" class="botton"  style="margin:0 auto;display:block" />
    </form>
  </div>