<ul class="titpy clear search-condition-boxHd" uk-tab>
    <li><a title="账户支付" href="javascript:;">账户支付</a></li> 
    <li><a title="网银支付" href="javascript:;">网银支付</a></li>
    <li><a title="微信扫码支付" href="javascript:;">微信扫码支付</a></li>
    <li><a title="支付宝扫码支付" href="javascript:;">支付宝扫码支付</a></li>
    <li><a title="MASTER外卡支付" href="javascript:;">国际信用卡支付(IC PAY)</a></li>
    <li><a title="联名卡支付" href="javascript:;">联名卡支付</a></li>
    <li><a title="扫码支付" href="javascript:;">扫码支付</a></li>
</ul>