<form class="payForm" action="https://test.dovepay.com/dovePay/aLIUnionPayQrCodeAction.do" method="post" onsubmit="" >
  <div class="uk-grid-small" uk-grid>
    <div>
      <input class="uk-radio" type="radio" name="qrcode" id="wechatpay">
      <button class="uk-button uk-button-default" type="button">
        <img src="" alt="微信支付" title="微信支付">
      </button>
    </div>
    <div>
      <input class="uk-radio" type="radio" name="qrcode" id="alipay">
      <button class="uk-button uk-button-default" type="button">
        <img src="" alt="支付宝" title="支付宝">
      </button>
    </div>
    <div>
      <input class="uk-radio" type="radio" name="qrcode" id="unionpay_flash">
      <button class="uk-button uk-button-default" type="button">
        <img src="" alt="云闪付" title="云闪付">
      </button>
    </div>
    <div>
      <input class="uk-radio" type="radio" name="qrcode" id="ecny">
      <button class="uk-button uk-button-default" type="button">
        <img src="" alt="数字人民币" title="数字人民币">
      </button>
    </div>
  </div>
  <div class="uk-flex uk-flex-center uk-margin">
    <input type="submit" class="uk-button uk-button-primary" value="提交">
  </div>
</form>