  <div id="wzhPay"  style="display: none;">
    <div class="titpy" style="height:auto; padding-bottom: 5px;">
<tr>
  <td><!-- <img src="images/tit_yhxz.gif" alt="银行信息" width="110" height="43"/> --> <span style="color:#F4A460">请选择支付方式 :　　</span></td>
  <td>
    <label>
      
      <input type="radio" name='checkstandWay' value="payTitle_2" 
        onclick="changeStyle();" style="border: 0px;"/>个人网银
      
      <input type="radio" name='checkstandWay' value="payTitle_3" 
        onclick="changeStyle();" style="border: 0px;"/>企业网银
      
    </label> 
  </td>
</tr>
    </div>
    <form class="payForm" action="https://test.dovepay.com/dovePay/payAction.do" method="post" name="payUserBank" id='payUserBank' onsubmit="return checkBankId();">
      <input type="hidden" name="orderId" value="2023020300457362" />
      <input type="hidden" id='payUserBank_m' name="m" value="confirmPayType" /> 
      <input type="hidden" id="creditType" name="creditType" value="0" /> 
      <input type="hidden" id="payType" name="payType" value="2" /> 
      <input type="hidden" id="SAFE_PLUGIN_LOGIN_PASSWORD" name="SAFE_PLUGIN_LOGIN_PASSWORD" /> 
      <input type="hidden" name="token" value="1675410002245" />
      











<meta http-equiv="x-ua-compatible" content="ie=7" />
<script type="text/javascript" src="https://test.dovepay.com/dovePay/js/jquery.DatePicker.min.js"></script>
<script type="text/javascript" src="https://test.dovepay.com/dovePay/js/CheckstandBanks.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/PassGuardCtrl.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/crypto-js.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/thickbox.js"></script>
<script language="javascript" src="https://test.dovepay.com/dovePay/js/password.js"></script>
<style>
  .payOl{
    margin:1.6em 0;
    padding:0;
  }
  .bankTable{
    margin-top:5px;
    width:100%;
  }
  .bankTable span{
    display: block;
    float: left;
    height: 50px;
    padding: 10px 30px 0 30px;
  }
  .bankTable span input, .bankTable span img { vertical-align: middle;}
</style>
<script>
function popUp() {
  showModalDialog('https://test.dovepay.com/dovePay/xieyi.jsp','德付通快捷支付服务协议-法审','dialogWidth:600px;dialogHeight:300px;center: yes;help:yes;resizable:yes;status:yes;unadornen:yes') ;
}

function setLineBank(){
  var payUserBank_m1= document.getElementById("payUserBank_m1");
  if(payUserBank_m1){
    document.getElementById("payUserBank_m1").value="confirmPayType";
  }
  if(checkBankId()){
    document.payUserBank.submit();
  }
}


//删除卡弹出交易密码框
function openwindow(cardId,buyorderId,iWidth,iHeight){  
  // url 转向网页的地址  
  // name 网页名称，可为空  
  // iWidth 弹出窗口的宽度  
  // iHeight 弹出窗口的高度  
  //window.screen.height获得屏幕的高，window.screen.width获得屏幕的宽  
  var iTop = (window.screen.height-30-iHeight)/2; //获得窗口的垂直位置;  
  var iLeft = (window.screen.width-10-iWidth)/2; //获得窗口的水平位置;  
  window.open("https://test.dovepay.com/dovePay/verifyTransactionPassword.jsp?cardId="+cardId+"&buyorderId="+buyorderId,"",'height='+iHeight+',innerHeight='+iHeight+',width='+iWidth+',innerWidth='+iWidth+',top='+iTop+',left='+iLeft+',toolbar=no,menubar=no,scrollbars=auto,resizeable=no,location=no,status=no');  
} 

// 解约银行卡
function unbind(cardId,buyorderId){
  $.ajax({
    type : 'POST',
    url : $('#payAction').val(),
    data : {
      m : 'deleteCard',
      cardId : cardId,
      buyorderId : buyorderId,
      checkstandWay : 'unionpayNocard'
    },
    dataType : 'text',
    cache : false,
    async : false,// 设成同步
    success : function(data, textStatus, jqXHR) {
      // 3. 刷新当前界面
      // history.go(0);
      $('#spanunionpay_' + cardId).remove();
      // 4. 隐藏显示的div
      $('#quickConfirmDivunionpay').hide();
      return true;
    },
    error : function(data, textStatus, jqXHR) {
      data = eval("(" + data + ")");
      alert(data.msg);
      return false;
    }
  });
}

function validDateTr() {
  var val = jQuery("#fastCardDateTr").val();
  if(val == "")
    val = null;
  
  if ($("#fastCardDatep").is(":visible")==true && val == null) {
    jQuery("#fastCardDateErr").html("有效期不能为空");
    return false;
  }
  jQuery("#fastCardDateErr").html("");
  return true;
}
  $(function() {
    var fcd = document.getElementById("fastCardDateTr");
    //IE 按Backspace 页面回退bug 
    fcd.onkeydown = function(event) {
      e = event ? event : (window.event ? window.event : null);
      if (e.keyCode == 8) {
        return false;
      }
    };
    $("#fastCardDateTr").datePicker({
      followOffset : [ 0, 24 ],
      altFormat : 'yy-mm',
      minDate : new Date(),
      showMode : 1,
      onselect : function(date, formatDate) {
        fcd.readOnly = false;
        fcd.value = formatDate;
        fcd.readOnly = true;
      }
    });

    $('#fastCardDateTr').blur(validDateTr);

  });
</script>
<input type="hidden" id='payAction' value='https://test.dovepay.com/dovePay/payAction.do' />
<input type="hidden" id='creditCardPayMent' value='https://test.dovepay.com/dovePay/creditCardPayMentAction.do' />

  <input type="hidden" id='torderId' value='2023020300457362' />
  <input type="hidden" id='storeId' value='m0' />
  <input type="hidden" id='ext3' value='null' />
  <input type="hidden" id='buyorderId' value='null' />

<ol class="yui-nav2 SelectBank clearfix line_h36" id="payInput_13" style="display: none">
  <table class="bankChoice" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: left;margin-top: 5px; width: 540px;">
  <tr>
    <td height="60" valign="top" class="blank">

        <span>
          <input type="radio" name="bankId" value="unionpaydcCCB|unionpaydc|CCB|13"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpaydcCCB.jpg" title="建设银行快捷-01" style="border: 1px solid #66CCCC;" alt="建设银行快捷-01" />
        </span>

        <span>
          <input type="radio" name="bankId" value="unionpayNOCARDBCCB|dove|unionpayNOCARDBCCB|13"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpayNOCARDBCCB.jpg" title="北京银行-银联无卡快捷" style="border: 1px solid #66CCCC;" alt="北京银行-银联无卡快捷" />
        </span>

        <span>
          <input type="radio" name="bankId" value="unionpayNOCARDICBC|dove|unionpayNOCARDICBC|13"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpayNOCARDICBC.jpg" title="工商银行" style="border: 1px solid #66CCCC;" alt="工商银行" />
        </span>

    </td>
  </tr>
</table>
<div class="til_iput">
  <input type="button" name="button" value="提交" onclick="setLineBank();" class="botton"  style="margin:0 auto;display:block" />
</div>
</ol>

<ol class="yui-nav2 SelectBank clearfix line_h36" id="payInput_2" style="display: none">
  <table class="bankChoice" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: left;margin-top: 5px; width: 540px;">
  <tr>
    <td height="60" valign="top" class="blank">

        <span>
          <input type="radio" name="bankId" value="RXTICBC|HXB_RXTKH|RXTICBC|2"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/RXTICBC.jpg" title="工商银行-02" style="border: 1px solid #66CCCC;" alt="工商银行-02" />
        </span>

        <span>
          <input type="radio" name="bankId" value="unionpayCMBC|unionpay|CMBC|2"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpayCMBC.jpg" title="民生银行-01" style="border: 1px solid #66CCCC;" alt="民生银行-01" />
        </span>

        <span>
          <input type="radio" name="bankId" value="unionpaywgB2CCCBCREDIT|unionpaywgB2C|CCB|2"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpaywgB2CCCBCREDIT.jpg" title="建设银行-贷记卡-银联网关个人版" style="border: 1px solid #66CCCC;" alt="建设银行-贷记卡-银联网关个人版" />
        </span>

        <span>
          <input type="radio" name="bankId" value="RXTCMB|HXB_RXTKH|RXTCMB|2"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/RXTCMB.jpg" title="招商银行-02" style="border: 1px solid #66CCCC;" alt="招商银行-02" />
        </span>

        <span>
          <input type="radio" name="bankId" value="unionpayTokenCredit|dove|unionpayTokenCredit|2"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpayTokenCredit.jpg" title="银联Token支付-贷记" style="border: 1px solid #66CCCC;" alt="银联Token支付-贷记" />
        </span>

        <span>
          <input type="radio" name="bankId" value="unionpayTokenDebit|dove|unionpayTokenDebit|2"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpayTokenDebit.jpg" title="银联token支付-借记" style="border: 1px solid #66CCCC;" alt="银联token支付-借记" />
        </span>

    </td>
  </tr>
</table>
<div class="til_iput">
  <input type="button" name="button" value="提交" onclick="setLineBank();" class="botton"  style="margin:0 auto;display:block" />
</div>
</ol>

<ol class="yui-nav2 SelectBank clearfix line_h36" id="payInput_3" style="display: none">
  <table class="bankChoice" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: left;margin-top: 5px; width: 540px;">
  <tr>
    <td height="60" valign="top" class="blank">

        <span>
          <input type="radio" name="bankId" value="NUCCB2BICBC|NUCCB2B|ICBC|3"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/NUCCB2BICBC.jpg" title="中国工商银行-网联" style="border: 1px solid #66CCCC;" alt="中国工商银行-网联" />
        </span>

        <span>
          <input type="radio" name="bankId" value="unionpaywgB2BCCB|unionpaywgB2B|CCB|3"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/unionpaywgB2BCCB.jpg" title="建设银行-银联网关-企业版" style="border: 1px solid #66CCCC;" alt="建设银行-银联网关-企业版" />
        </span>

        <span>
          <input type="radio" name="bankId" value="CMBCHINA2B2B|dove|CMBCHINA2B2B|3"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/CMBCHINA2B2B.jpg" title="招商银行企业银行" style="border: 1px solid #66CCCC;" alt="招商银行企业银行" />
        </span>

        <span>
          <input type="radio" name="bankId" value="BOCB2B|dove|BOCB2B|3"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/BOCB2B.jpg" title="中国银行企业版" style="border: 1px solid #66CCCC;" alt="中国银行企业版" />
        </span>

        <span>
          <input type="radio" name="bankId" value="NUCCB2BCMBC|NUCCB2B|CMBC|3"  style="border: 0px; margin: 5px 0px; width: 15px;"/>
          <img src="https://test.dovepay.com/dovePay/images/bank/NUCCB2BCMBC.jpg" title="中国民生银行-网联" style="border: 1px solid #66CCCC;" alt="中国民生银行-网联" />
        </span>

    </td>
  </tr>
</table>
<div class="til_iput">
  <input type="button" name="button" value="提交" onclick="setLineBank();" class="botton"  style="margin:0 auto;display:block" />
</div>
</ol>


    </form>
  </div>