<script type="text/javascript" src="https://test.dovepay.com/js/jquery.DatePicker.min.js"></script>
<script type="text/javascript" src="https://test.dovepay.com/js/CheckstandBanks.js"></script>
<script language="javascript" src="https://test.dovepay.com/js/PassGuardCtrl.js"></script>
<script language="javascript" src="https://test.dovepay.com/js/crypto-js.js"></script>
<script language="javascript" src="https://test.dovepay.com/js/thickbox.js"></script>
<script language="javascript" src="https://test.dovepay.com/js/password.js"></script>
<script>
  function popUp() {
    showModalDialog('https://test.dovepay.com/xieyi.jsp','德付通快捷支付服务协议-法审','dialogWidth:600px;dialogHeight:300px;center: yes;help:yes;resizable:yes;status:yes;unadornen:yes') ;
  }

  function setLineBank(){
    var payUserBank_m1= document.getElementById("payUserBank_m1");
    if(payUserBank_m1){
      document.getElementById("payUserBank_m1").value="confirmPayType";
    }
    if(checkBankId()){
      document.payUserBank.submit();
    }
  }


  //删除卡弹出交易密码框
  function openwindow(cardId,buyorderId,iWidth,iHeight){  
    // url 转向网页的地址  
    // name 网页名称，可为空  
    // iWidth 弹出窗口的宽度  
    // iHeight 弹出窗口的高度  
    //window.screen.height获得屏幕的高，window.screen.width获得屏幕的宽  
    var iTop = (window.screen.height-30-iHeight)/2; //获得窗口的垂直位置;  
    var iLeft = (window.screen.width-10-iWidth)/2; //获得窗口的水平位置;  
    window.open("https://test.dovepay.com/verifyTransactionPassword.jsp?cardId="+cardId+"&buyorderId="+buyorderId,"",'height='+iHeight+',innerHeight='+iHeight+',width='+iWidth+',innerWidth='+iWidth+',top='+iTop+',left='+iLeft+',toolbar=no,menubar=no,scrollbars=auto,resizeable=no,location=no,status=no');  
  } 

  // 解约银行卡
  function unbind(cardId,buyorderId){
    $.ajax({
      type : 'POST',
      url : $('#payAction').val(),
      data : {
        m : 'deleteCard',
        cardId : cardId,
        buyorderId : buyorderId,
        checkstandWay : 'unionpayNocard'
      },
      dataType : 'text',
      cache : false,
      async : false,// 设成同步
      success : function(data, textStatus, jqXHR) {
        // 3. 刷新当前界面
        // history.go(0);
        $('#spanunionpay_' + cardId).remove();
        // 4. 隐藏显示的div
        $('#quickConfirmDivunionpay').hide();
        return true;
      },
      error : function(data, textStatus, jqXHR) {
        data = eval("(" + data + ")");
        alert(data.msg);
        return false;
      }
    });
  }

  function validDateTr() {
    var val = jQuery("#fastCardDateTr").val();
    if(val == "")
      val = null;
    
    if ($("#fastCardDatep").is(":visible")==true && val == null) {
      jQuery("#fastCardDateErr").html("有效期不能为空");
      return false;
    }
    jQuery("#fastCardDateErr").html("");
    return true;
  }
  $(function() {
    var fcd = document.getElementById("fastCardDateTr");
    //IE 按Backspace 页面回退bug 
    fcd.onkeydown = function(event) {
      e = event ? event : (window.event ? window.event : null);
      if (e.keyCode == 8) {
        return false;
      }
    };
    $("#fastCardDateTr").datePicker({
      followOffset : [ 0, 24 ],
      altFormat : 'yy-mm',
      minDate : new Date(),
      showMode : 1,
      onselect : function(date, formatDate) {
        fcd.readOnly = false;
        fcd.value = formatDate;
        fcd.readOnly = true;
      }
    });

    $('#fastCardDateTr').blur(validDateTr);

  });
</script>
<input type="hidden" id='payAction' value='https://test.dovepay.com/dovePay/payAction.do' />
<input type="hidden" id='creditCardPayMent' value='https://test.dovepay.com/dovePay/creditCardPayMentAction.do' />

<% if (src === 'AccaPayBankType') { %>
  <input type="hidden" id='torderId' value='2023020300457362' />
  <input type="hidden" id='storeId' value='m0' />
  <input type="hidden" id='ext3' value='null' />
  <input type="hidden" id='buyorderId' value='null' />
<% } else if (src === 'accaBankPay') { %>
  <input type="hidden" id='torderId' value='2023020700457611' />
  <input type="hidden" id='storeId' value='m0' />
  <input type="hidden" id='ext3' value='null' />
  <input type="hidden" id='buyorderId' value='M5916' />
  <%- include('AccaPayQuickPay.html') %>
<% } %>


<ol class="yui-nav2 SelectBank clearfix line_h36" id="<%- src === 'AccaPayBankType'? 'payInput_13': 'payInput_2' %>" style="display: none;">
  <table class="bankChoice" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="60" valign="top" class="blank">
      <% if (src === 'AccaPayBankType') { %>
        <span>
          <input class="uk-radio" type="radio" name="bankId" value="unionpaydcCCB|unionpaydc|CCB|13"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="建设银行快捷-01" alt="建设银行快捷-01">
          </button>
        </span>

        <span>
          <input class="uk-radio" type="radio" name="bankId" value="unionpayNOCARDBCCB|dove|unionpayNOCARDBCCB|13"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="北京银行-银联无卡快捷" alt="北京银行-银联无卡快捷">
          </button>
        </span>

        <span>
          <input class="uk-radio" type="radio" name="bankId" value="unionpayNOCARDICBC|dove|unionpayNOCARDICBC|13"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="工商银行" alt="工商银行">
          </button>
        </span>
      <% } else if (src === 'accaBankPay') { %>
        <span>
          <input class="uk-radio" type="radio" name="bankId" value="RXTICBC|HXB_RXTKH|RXTICBC|2"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="工商银行-02" alt="工商银行-02">
          </button>
        </span>

        <span>
          <input class="uk-radio" type="radio" name="bankId" value="unionpayCMBC|unionpay|CMBC|2"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="民生银行-01" alt="民生银行-01">
          </button>
        </span>

        <span>
          <input class="uk-radio" type="radio" name="bankId" value="unionpaywgB2CCCBCREDIT|unionpaywgB2C|CCB|2"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="建设银行-贷记卡-银联网关个人版" alt="建设银行-贷记卡-银联网关个人版">
          </button>
        </span>

        <span>
          <input class="uk-radio" type="radio" name="bankId" value="RXTCMB|HXB_RXTKH|RXTCMB|2"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="招商银行-02" alt="招商银行-02">
          </button>
        </span>

        <span>
          <input class="uk-radio" type="radio" name="bankId" value="unionpayTokenCredit|dove|unionpayTokenCredit|2"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="银联Token支付-贷记" alt="银联Token支付-贷记">
          </button>
        </span>

        <span>
          <input class="uk-radio" type="radio" name="bankId" value="unionpayTokenDebit|dove|unionpayTokenDebit|2"/>
          <button type="button" class="uk-button uk-button-default">
            <img src="" title="银联token支付-借记222" alt="银联token支付-借记">
          </button>
        </span>
      <% } %>
      </td>
    </tr>
  </table>
  <div class="uk-flex uk-flex-center uk-margin">
    <input type="button" name="button" value="提交" onclick="setLineBank();" class="uk-button uk-button-primary" />
  </div>
</ol>

<% if (src === 'AccaPayBankType') { %>
<ol class="yui-nav2 SelectBank clearfix line_h36 uk-padding-remove" id="payInput_2" style="display: none">
  <div class="uk-flex">
    <ul class="uk-tab-right" uk-tab>
      <li><a href="#"><span class="uk-text-nowrap">储蓄卡</span></a></li>
      <li><a href="#"><span class="uk-text-nowrap">信用卡</span></a></li>
    </ul>
    <ul class="uk-switcher">
      <li>
        <div class="uk-grid-small" uk-grid>
          <span>
            <input class="uk-radio" type="radio" name="bankId" value="RXTICBC|HXB_RXTKH|RXTICBC|2" >
            <button type="button" class="uk-button uk-button-default">
              <img src="" title="工商银行-02" alt="工商银行-02">
            </button>
          </span>

          <span>
            <input class="uk-radio" type="radio" name="bankId" value="unionpayCMBC|unionpay|CMBC|2"  />
            <button type="button" class="uk-button uk-button-default">
              <img src="" title="民生银行-01" alt="民生银行-01">
            </button>
          </span>

          <span>
            <input class="uk-radio" type="radio" name="bankId" value="unionpaywgB2CCCBCREDIT|unionpaywgB2C|CCB|2"  />
            <button type="button" class="uk-button uk-button-default">
              <img src="" title="建设银行-贷记卡-银联网关个人版" alt="建设银行-贷记卡-银联网关个人版">
            </button>
          </span>

          <span>
            <input class="uk-radio" type="radio" name="bankId" value="RXTCMB|HXB_RXTKH|RXTCMB|2"  />
            <button type="button" class="uk-button uk-button-default">
              <img src="" title="招商银行-02" alt="招商银行-02">
            </button>
          </span>

          <span>
            <input class="uk-radio" type="radio" name="bankId" value="unionpayTokenCredit|dove|unionpayTokenCredit|2"  />
            <button type="button" class="uk-button uk-button-default">
              <img src="" title="银联Token支付-贷记" alt="银联Token支付-贷记">
            </button>
          </span>

          
        </div>
      </li>
      <li>
        <div class="uk-grid-small" uk-grid>
          <span>
            <input class="uk-radio" type="radio" name="bankId" value="unionpayTokenDebit|dove|unionpayTokenDebit|2"  />
            <button type="button" class="uk-button uk-button-default">
              <img src="" title="银联token支付-借记111" alt="银联token支付-借记">
            </button>
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="uk-flex uk-flex-center uk-margin">
    <input type="button" name="button" value="提交" onclick="setLineBank();" class="uk-button uk-button-primary">
  </div>
</ol>
<% } %>

<ol class="yui-nav2 SelectBank clearfix line_h36" id="payInput_3" style="display: none">
  <div class="uk-grid-small" uk-grid>
    <span>
      <input class="uk-radio" type="radio" name="bankId" value="NUCCB2BICBC|NUCCB2B|ICBC|3"/>
      <button type="button" class="uk-button uk-button-default">
        <img src="" title="中国工商银行-网联" alt="中国工商银行-网联">
        <span class="bscript">企业</span>
      </button>
    </span>

    <span>
      <input class="uk-radio" type="radio" name="bankId" value="unionpaywgB2BCCB|unionpaywgB2B|CCB|3"/>
      <button type="button" class="uk-button uk-button-default">
        <img src="" title="建设银行-银联网关-企业版" alt="建设银行-银联网关-企业版">
        <span class="bscript">企业</span>
      </button>
    </span>

    <span>
      <input class="uk-radio" type="radio" name="bankId" value="CMBCHINA2B2B|dove|CMBCHINA2B2B|3"/>
      <button type="button" class="uk-button uk-button-default">
        <img src="" title="招商银行企业银行" alt="招商银行企业银行">
        <span class="bscript">企业</span>
      </button>
    </span>

    <span>
      <input class="uk-radio" type="radio" name="bankId" value="BOCB2B|dove|BOCB2B|3"/>
      <button type="button" class="uk-button uk-button-default">
        <img src="" title="中国银行企业版" alt="中国银行企业版">
        <span class="bscript">企业</span>
      </button>
    </span>

    <span>
      <input class="uk-radio" type="radio" name="bankId" value="NUCCB2BCMBC|NUCCB2B|CMBC|3"/>
      <button type="button" class="uk-button uk-button-default">
        <img src="" title="中国民生银行-网联" alt="中国民生银行-网联">
        <span class="bscript">企业</span>
      </button>
    </span>

  </div>
  <div class="uk-flex uk-flex-center uk-margin">
    <input type="button" name="button" value="提交" onclick="setLineBank();" class="uk-button uk-button-primary">
  </div>
</ol>
