<div class="titpy clear search-condition-boxHd">
    <a class="search-condition-nav" title="账户支付" onclick="showZH()" href="javascript:;">账户支付</a> 
    <a class="search-condition-nav" title="网银支付" onclick="showWZH()" href="javascript:;">网银支付</a>
    <a class="search-condition-nav" title="微信扫码支付" onclick="showWECHAT()" href="javascript:;">微信扫码支付</a>
    <a class="search-condition-nav" title="支付宝扫码支付" onclick="showALI()" href="javascript:;">支付宝扫码支付</a>
    <a class="search-condition-nav" title="MASTER外卡支付" onclick="showMaster()" href="javascript:;">国际信用卡支付(IC PAY)</a>
    <a class="search-condition-nav" title="联名卡支付" onclick="showVirtualCard()" href="javascript:;">联名卡支付</a>
</div>