<h2 class="uk-heading-bullet uk-heading-line uk-h4"><span>请选择支付方式 :</span></h2>
<ul id="accaPayBankType_ul" uk-tab>
<% if (src === 'accaBankPay') { %>
  <li>
    <input type="radio" name='checkstandWay' value="payTitle_13"  onclick="changeStyle();" hidden>
    <a href="javascript:void(0)">快捷支付</a>
  </li>
<% } %>
  <li>
    <input type="radio" name='checkstandWay' value="payTitle_2"  onclick="changeStyle();" hidden>
    <a href="javascript:void(0)">个人网银</a>
  </li>
  <li>
    <input type="radio" name='checkstandWay' value="payTitle_3"  onclick="changeStyle();" hidden>
    <a href="javascript:void(0)">企业网银</a>
  </li>
</ul>
